@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: left;
    align-items: left;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

section {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line */
    padding: 50px;
    background-color: rgb(235, 245, 241);
    margin: auto;
    width: 80%;
    min-height: 80vh; /* Maintain a minimum height of 80% viewport height */
    position: relative;

}

.welcome {
    display: block;
    background-image: url("/public/images/unsplash-NuFUbftUu_s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
    height: 100vh; /* Use viewport height for full-height sections */
}

.welcome h3 {
    font-family: 'Roboto', sans-serif;
    margin: 200px;
    color: rgb(241, 183, 76);
    font-size: 150px;
    text-wrap: wrap;
    position: relative;
    text-align: center;
    font-weight: 900;
}

.about {
    color: black;
    font-weight: 1000;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    align-items: left;
    justify-content: left;
    margin: auto;
    padding: 5%;
}

.about p {
    color: black;
}

h4 {
    font-size: xxx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.content {
    height: auto; /* Let the content determine the height */
    width: 50%;
    align-items: left;
    justify-content: left;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.content h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 183, 76);
    font-weight: 800;
    font-size: 50px;
}
.picture{
    width: 40%;
}

img {
    max-width: 100%; /* Ensure images don't overflow their containers */
    height: 500px;
    border-radius: 20px;
}

.social-media {
    width: 600px;
    margin: auto;
    padding: 10px;
}

.social-media h4 {
    color: wheat;
    font-size: 30px;
}

a {
    color: wheat;
    font-size: 50px;
    padding: 10px;
    margin: auto;
}

.social-image {
    margin: auto;
}

.social-image img {
    max-width: auto; /* Ensure images don't overflow their containers */
    height: auto;
    border: 10px solid blueviolet;
}

@media screen and (max-width: 9400px) {
    section {
        width: 100%;
    }
    /* .content {
        width: 1000%;

    } */
}
