Nav.Brand{
       background: green;
}

.bg-body-tertiary{
       background-color: rgb(21,32,43);
}

.Navbar.bg-body-tertiary {
       background-color: rgb(21, 32, 43); /* Set the background color */
       /* color: #000000; Make the text (including links) white */
     }
     
.navbar .nav-link {
       color: black; /* Make the links white */
     }