Nav.Brand{
       background: green;
}

.bg-body-tertiary{
       background-color: rgb(21,32,43);
}


.navbar{
       background-color: rgb(21, 32, 43);

}

.navbar .nav-link {
       color: white;
       font-size: larger;
       font-weight: 700;
     }

.navbar .nav-link:hover{
       color: brown;
}
