@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: left;
  align-items: left;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;
  width: 100%;
  min-height: auto; 
  position: relative;
}

.welcome {
  display: block;
  background-image: url("/public/images/software.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
  height: 150vh;
  /* margin: 30px; */
}

.welcome h3 {
  font-family: "Roboto", sans-serif;
  margin: 80px;
  color: rgb(241, 183, 76);
  font-size: 150px;
  text-wrap: wrap;
  position: relative;
  text-align: center;
  font-weight: 900;
}

.about {
  color: black;
  font-weight: 1000;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  align-items: left;
  justify-content: left;
  margin: auto;
  padding: 5%;
}

.about p {
  color: black;
}

h4 {
  font-size: xxx-large;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.content {
  height: auto; /* Let the content determine the height */
  width: 50%;
  align-items: left;
  justify-content: left;
  margin: 10px;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.content p {
  justify-content: center;
  align-items: center;
  /* text-align: justify; */
}
.content h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(241, 183, 76);
  font-weight: 800;
  font-size: 50px;
}
.picture {
  width: 40%;
  margin: auto;
}

.picture img{
  border-radius: 60%;
}

img {
  max-width:100%;
  height: 350px;
  border-radius: 20%;
}

.social-media {
  width: 600px;
  margin: auto;
  padding: 10px;
}

.social-media h4 {
  color: black;
  font-size: 30px;
}

a {
  color: black;
  font-size: 30px;
  padding: 20px;
  margin: auto;
}

.social-image {
  width: 100px;
  height: auto;
  margin: auto;
}

.social-image img {
  max-width: 350px;
  height: auto;
  border: 10px solid rgb(241, 183, 76);
}

.management {
  background-color: #031745;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.team-member {
  border-radius: 20px;
  width: 350px;
  background: whitesmoke;
  color: black;
  padding: 16px;
  text-align: center;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.team-member img {
  width: 200px;
  max-height: 200px;
  object-fit: fill;
  border-radius: 50%;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.member-container {
  flex: 1 1 200px;
  max-width: calc(33.333% - 16px);
  box-sizing: border-box;
}

.service-section {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.service-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-item {
  text-decoration: none;
  border-radius: 20px;
  background-color: #031745;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 120px;
  color: white;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.service-item p {
  max-width: 100%;
  text-decoration: none; /* Some space between image and service name */
  font-weight: 500;
  font-size: 25px;
  text-wrap: wrap;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;
}

.graphic,
.textiles,
.software {
  background-color: #031745;
  color: white;
}
.graphic p,
.textiles p,
.software p {
  color: white;
}


@media screen and (max-width: 600px) {
  .welcome {
    width: 100%;
    height: 57vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .welcome h3 {
    color: rgb(241, 183, 76);
    font-size: 40px;
    text-wrap: wrap;
    /* position: relative; */
    /* text-align: center; */
    font-weight: 900;
  }

  section {
    display: block;
    /* wrap: wrap; */
    padding: 30px;
    width: 100%;
    min-height: auto;
    position: relative;
  }
  .content {
    height: auto;
    width: 100%;
    color: black;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  
  .social-media h4 {
    color: black;
    font-size: 30px;
  }
  
  a {
    color: black;
    font-size: 30px;
    padding: 20px;
    margin: auto;
  }
  
  .social-image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  .social-image img {
    max-width: 350px;
    height: auto;
    border: 10px solid rgb(241, 183, 76);
  }

  .picture {
    display: none;
  }


}

@media screen and (max-width: 800px) {
  .welcome h3 {
    color: rgb(241, 183, 76);
    font-size: 100px;
    text-wrap: wrap;
    position: relative;
    text-align: center;
    font-weight: 900;
  }

  section {
    display: block;
    /* wrap: wrap; */
    padding: 30px;
    width: 100%;
    min-height: auto; /* Maintain a minimum height of 80% viewport height */
    position: relative;
  }
  .content {
    height: auto; /* Let the content determine the height */
    width: 100%;
    /* margin: 10px; */
    /* padding: 10px; */
    color: black;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }
  /* .social-media {
    width: 600px;
    margin: auto;
    padding: 10px;
  } */
  
  .social-media h4 {
    color: black;
    font-size: 30px;
  }
  
  a {
    color: black;
    font-size: 30px;
    padding: 20px;
    margin: auto;
  }
  
  .social-image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  .social-image img {
    max-width: 350px; /* Ensure images don't overflow their containers */
    height: auto;
    border: 10px solid rgb(241, 183, 76);
  }
  .picture {
    display: none;
    width: 100%;
  }
  .ImageSlider{
    display:none;
  }

}
