Nav.Brand{
       background: green;
}

.bg-body-tertiary{
       background-color: #031745;
}


.navbar{
       background-color: #031745;
       height: 70px;

}

.navbar .nav-link {
       color: white;
       font-size: larger;
       font-weight: 700;
     }

.navbar .nav-link:hover{
       color: brown;
}
